# whitelist the following branches for building
branches:
    only:
        - master
        - dev

dist: trusty
sudo: false

language: python

cache:
    directories:
        - $HOME/.cache/pip

matrix:
    include:
        # add more combinations here as per requirement
        - env: PYTHON_VERSION="3.6" TF_VERSION="1.9"
        - env: PYTHON_VERSION="3.6" TF_VERSION="1.15"
        - env: PYTHON_VERSION="3.7" TF_VERSION="2.1"

install:
    # install miniconda
    - deactivate
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - MINICONDA_PATH=/home/travis/miniconda
    - chmod +x miniconda.sh && ./miniconda.sh -b -p $MINICONDA_PATH
    - export PATH=$MINICONDA_PATH/bin:$PATH
    - conda update --yes conda

    # create the testing environment
    - conda create -n testenv --yes python=$PYTHON_VERSION pip
    - source activate testenv
    - conda install -n testenv --yes pip libgcc numpy cython nose pytest pytest-cov flaky sphinx jupyter  
    - pip install tensorflow==$TF_VERSION
    - pip install sphinx_rtd_theme
    - pip install nbsphinx
    - pip install coveralls

    # for test pypi add dependency installs manually
    # - pip install --index-url --no-deps https://test.pypi.org/simple sktime_dl==0.2.dev1
    - pip install .
    - python setup.py build_ext -i

    - pip uninstall scikit-learn
    - pip install scikit-learn==0.20

    # install keras contrib manually as currently not available on pypi
    # pip install git+https://github.com/keras-team/keras-contrib.git@master
    
    # now need to install keras-contrib for tf.keras instead of standalone keras
    # not needed for the tf_version 2.1 env, but does not hurt either. investigate 
    # conditional installation 
    - git clone https://www.github.com/keras-team/keras-contrib.git
    - cd keras-contrib
    - python convert_to_tf_keras.py
    - USE_TF_KERAS=1 python setup.py install
    - cd ..
    
script:
    - pip list
    - mkdir for_test
    - cd for_test
    # long running tests are marked as "slow" and are excluded with -m="not slow"
    - pytest -v -m="not slow" --cov=sktime_dl --pyargs ../sktime_dl 

after_success:
    - coveralls



